{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<div class="card-body" style="margin: 2em 5em;">
    <h1> Agendar Visita en Terreno </h1>
    <br>
    <br>
    <h2> Profesional a Cargo </h2>
    <br>
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Rut</label>
            <input type="text" class="form-control" id="validationCustom01" value="" required>
            <div class="valid-feedback">
                Favor de introducir un Rut Valido
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="validationCustom02" value="" required>
            <div class="invalid-feedback">
                Favor de introducir un Telefono Valido
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Nombre
            </label>
            <input type="text" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
                Favor de introducir un Nombre
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom03" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
                Favor de introducir un Apellido
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustomUsername" class="form-label">Correo</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                </div>
            </div> 
        </div>
    </form>
    <br>
    <br>
    <h2> Selección de Cliente </h2>
    <br>
    <div class="col-md-3">
        <label for="validationCustom04" class="form-label">Rol</label>
        <select class="form-select" id="validationCustom04" required>
            <option>Prueba</option>
            <option>Prueba</option>
            <option>Prueba</option>
        </select>
        <div class="invalid-feedback">
        </div>
    </div>
    <br>
    <form class="row g-3 needs-validation" novalidate> 
        <br>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Razón Social</label>
            <input type="text" class="form-control" id="validationCustom01" value="" required>
            <div class="valid-feedback">
                Favor de introducir una razón social valida
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="validationCustom02" value="" required>
            <div class="invalid-feedback">
                Favor de introducir un Telefono Valido
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="validationCustom01" value="" required>
            <div class="valid-feedback">
                Favor de introducir una dirección valida
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustomUsername" class="form-label">E-mail</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                </div>
            </div> 
        </div>
    </form>
    <br>
    <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Agendamiento Visita</label>
        <input type="datetime-local" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
            Favor de introducir una fecha valida
        </div>
    </div>
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit">Agendar Visita</button>
        <button class="btn btn-primary" type="submit">Cancelar</button>
    </div>
</div>
{% endblock %}
